.NavBar {
    color: #67595E;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
 
}

.Count{
    font-size: 14px;
    color: #FF0080;
    font-weight: bolder;
}