.CartCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #EED6D3;
}



.img {
    width: 150px;
    padding: 20px;

}

.name {
    color: #67595E;
}

