.CartCard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-bottom: 1px solid #67595e;
  border-top: 1px solid #67595e;
  background-color: #f1f2f6;
  margin: 0px 200px;
}

.img {
  width: 200px;
  padding: 20px;
}

.name {
  color: #67595e;
  font-size: 1.2rem;
  font-family: "Josefin Slab", serif;
  font-weight: bolder;
}

.variant {
  color: #67595e;
  font-size: 1rem;
  font-family: "Josefin Slab", serif;
  font-weight: bolder;
}

.price {
    color: #67595e;
    font-size: 1.2rem;
    font-family: "Josefin Slab", serif;
    font-weight: bolder;
    text-align:right;
}