.Delete {
    border: 2px solid #cdcfe9;
    border-radius: 5px;
    background-color: #cdcfe9;
    color: #67595E;
    cursor: pointer;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
}

.Delete:hover{
    background-color: #ebc6d1;
    text-decoration: underline;
    color: #67595E;
    border: 2px solid #ebc6d1;
    font-weight: bolder;
}