.QuantityCount {
    background-color: #f1f2f6;
    color: #67595E;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;

}

.Button {
    border: 2px solid #cdcfe9;
    border-radius: 5px;
    background-color: #cdcfe9;
    color: #67595E;
    cursor: pointer;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
    margin: 10px 0px;
}

.Button:hover {
    background-color: #ebc6d1;
    text-decoration: underline;
    color: #67595E;
    border: 2px solid #ebc6d1;
    font-weight: bolder;
    margin: 10px 0px;
}