.QuantityCount {
    background-color: #EC9EC0;
    color: #67595E;
    font-family: 'Uchen', serif;
}

.Button {
    border: 2px solid #D8A7B1;
    border-radius: 5px;
    background-color: #EEEDE7;
    color: #67595E;
    cursor: pointer;
    font-family: 'Uchen', serif;
}

.Button:hover {
    background-color: #D8A7B1;
    text-decoration: underline;
    color: #EEEDE7;
}