.Heading {
    text-align: center;
    color: #A91B60;
    font-family: 'Fuggles', cursive;
    font-size: 3.5rem;
}


.secondheader {
    color:#A91B60;
    margin: 0px 70px;
    font-family: 'Uchen', serif;
    font-size: 1.5rem;
}

.catalogue {
    margin: 0px;
}