.App{
  background-color: #cdcfe9;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  
}

.footer {
  text-align: center;
  color: #d36c80;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 1.2rem;
}