.App{
  background-color: #F9F1F0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  
}

.footer {
  text-align: center;
  color: #BF0D70;
  font-family: 'Uchen', serif;
}