.CartPage {
    background-color: #cdcfe9;
    
}


.header {
    color: #67595E;
    margin: 100px 0px 0px 200px;
    font-size: 2rem;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
}

.price {
    text-align: right;

    color: #67595E;
    margin: 0px 200px;

}
